@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
}

* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  /* background-color: aqua; */
}
.wrapp-logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.header-logo {
  width: 14%;
  height: 15%;
}
.input-wrapper{
  display: flex;
  justify-items: center;
  align-items: center;
}
.input-text {
  display: flex;

  
  font-size: 16px;
  
}
.nav-menu {
  display: flex;
  padding: 0 15rem;
  align-items: center;
  /* background-color: black; */
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.nav__items {
  display: flex;
  justify-items: center;
  margin-left: 7rem;
  font-family: Montserrat;
  font-size: 24px;

  /* background-color: blueviolet; */
}

.nav__items a {
  display: flex;
  text-decoration: none;
  ba
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
}
.footer {
  display: flex;
  justify-content: flex-end;
  background-color: aqua;
}
